<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div style="text-align: left;" class="container"  >            
            <p th:text="#{label.overview}">This is a project</p> 
        </div>
        <div style="text-align: left;" class="container"  >            
            This project is based on a sample application provided by Spring (PetClinic).  The structure is based on this 
            project.  
        </div>
        <div style="text-align: right;" class="container"  >            
            BJ - CIS - October 2015
        </div>

        <div class="container"  >    
            <object  
                th:data="@{/resources/images/Design_Document.pdf}"
                data="../../resources/images/Design_Document.pdf" type="application/pdf"            
                width="500" height="500" style="display:block;margin: 0px auto;">
            </object>
        </div> 

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>

    </body>

</html>
