<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/canes.jpg}" 
                 src="../../../resources/images/canes.jpg" />

            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        Canes Camp Registration
                    </div>
                    <div>
                        <input type="text" name="name" maxlength="100"/>
                        <input type="submit" value="Say Hello"/>

                    </div>

                    <div class="container" >            

                        <h2>Campers</h2>
                        <a class="btn btn-primary btn-lg" th:href="@{/campers/add}" th:text="Add" ></a>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">id</th>
                                    <th style="width: 150px;">First Name</th>
                                    <th style="width: 150px;">Last Name</th>
                                    <th style="width: 150px;">DOB</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="camper : ${campers}">

                                    <td th:text="${camper.registrationId}"></td>
                                    <td th:text="${camper.firstName }"></td>
                                    <td th:text="${camper.lastName }"></td>
                                    <td th:text="${camper.dob}"></td>

                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>