<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <a th:href="@{/}"><img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                                                  src="../../../resources/images/logoHeader.png" /></a><h1>HC-CIS<small>&nbsp;Canes</small></h1>
            </div>

            <div class="navbar-inner" >
                <ul  class="nav">
                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Camper
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/camper/list" th:href="@{/camper/list}"><i class="icon-th-list"></i>List</a></li>                            
                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/help" th:href="@{/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="/about" th:href="@{/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>

            </div>
        </div>
    </body>

</html>