<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

<h1>Reserve a Court</h1>
            <p th:text="${message}"></p>
            <form th:object="${bookings}" action="add.html" th:action="@{/bookings/addSubmit}"  method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Select your court type</th>
                            <td>
                        <div class="col-lg-3" th:object="${courtTypes}">
                            <select class="form-control" id="dropCourtType" name="dropCourtType">
                                <option value="">Court Types</option>
                                <option th:each="codeValue : ${courtTypes}" th:value="${codeValue.codeValueSequence}" th:text="${codeValue.englishDescription}"></option>
                            </select>
                        </div>
                        </td>        
                        </tr>
   
                        <tr>
                            <th>BookingDate</th>
                            <td><input type="text" name="bookingDate" maxlength="100"/>
                            </td>
                        </tr>

                    </table>
                   
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Search</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>