<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

<h1>Reserve a Court</h1>
            <p th:text="${message}"></p>
            <form th:object="${opponents}" action="addSubmit.html" th:action="@{/bookings/commitBooking}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Select your Opponent</th>
                            <td>
                        <div class="col-lg-3" th:object="${opponents}">
                            <select class="form-control" id="dropOpp" name="dropOpp">
                                <option value="0"> </option>
                                <option th:each="opponent : ${opponents}" th:value="${opponent.userId}" th:text="${opponent.firstName} + ${opponent.lastName}"></option>
                            </select>
                        </div>
                        </td>        
                        </tr>
   
                    </table>
                   
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>