<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


<h1>Reserve a Court</h1>


        <div class="container" >            

            <h2>Available Courts</h2>
             <p th:text="${message}"></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 150px;">Court Id</th>
                        <th style="width: 150px;">Court Type</th>
                        <th style="width: 150px;">BookingDate</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="court : ${selectedCourts}">

                        <td th:text="${court.courtId}"></td>
                        <td th:text="${court.courtType}"></td>
                        <td th:text="${bookingDate}"></td>
                            <td><a class="btn btn-primary btn-lg" th:href="@{/bookings/addSubmitStepTwo(courtId=${court.courtId})}" th:text="Reserve" ></a>
                           </td> 
                        
                        
                    </tr>
                </tbody>
            </table>    




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
