<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


<h1>Users Bookings</h1>


        <div class="container" >            

            <h2>Bookings</h2>
             <p th:text="${message}"></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 150px;">Booking Id</th>
                        <th style="width: 150px;">Booking Date</th>
                        <th style="width: 150px;">Court Id</th>
                        <th style="width: 150px;">Court Type</th>
                        <th style="width: 150px;">Opponent</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${usersBookings}">

                        <td th:text="${booking.bookingId}"></td>
                        <td th:text="${booking.bookingDate}"></td>
                        <td th:text="${booking.courtId}"></td>
                        <td th:text="${booking.courtDescription}"></td>
                        <td th:text="${booking.opponentName}"></td>
                          
                        
                        
                    </tr>
                </tbody>
            </table>    
      <td><a class="btn btn-primary btn-lg"  th:href="@{/bookings/reloadAdd}">Add</a></td>



            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
>